numpy==1.24.3
fastapi
mangum
uvicorn
urllib3==1.25.11
requests==2.23.0
opencv-python==4.7.0.72
ultralytics
python-multipart
boto3     
onnxruntime==1.12.0


########for padde
paddlepaddle==2.4.2
PyYAML==6.0
scipy==1.10.1